.password-strength {
    height:20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ddd;
    text-align: center;
    color: #504d4d;
    font-size: 12px;
  
    transition: width 0.5s;
  }
  
  .very-weak {
    width: 20%;
    background-color: #e67979;
  }
  
  .weak {
    width: 40%;
    background-color: #ff6600;
  }
  
  .fair {
    width: 60%;
    background-color: #e6e670;
  }
  
  .strong {
    width: 80%;
    background-color: #90c290;
  }
  
  .very-strong {
    width: 100%;
    background-color: #4fb84f;
  }
  